#counter {
	font-family: 'Brush Script MT', fantasy;
	font-size: 10em;
}

.buttons {
	width: 32em;
	height: 100px;
}

#start, #continue, #pause {
	float: left;
	margin: auto;
}

#reset {
	float: right;
	margin: auto;
}

.buttons button {
	padding: 1em, 0.3em;
	font-size: 3em;
	border-radius: 1.5em;
}

#start, #continue {
	background-color: #1e2;
}

#pause {
	background-color: #ee0;
}

#reset {
	background-color: #0ef;
}